<form name="calForm" ng-submit="vm.submit()">
      <table class="table">
        
        <tr>
          <td>
            
                <table class="table" border="1">
                  <tr>
                     <td colspan="2">
                        <p class="center_header">Enter the Meal Details</p>
                     </td>
                  </tr>  
                  <tr>
                     <td>Base Meal Price: </td>
                     <td>$<input type="number" step="0.01" ng-model="vm.calForm.baseMeal" required></td>
                  </tr> 
                  <tr>
                     <td>Tax Rate: </td>
                     <td>%<input type="number" step="0.01" ng-model="vm.calForm.taxRate" required></td>
                  </tr>  
                  <tr>
                     <td>Tip Percentage: </td>
                     <td>%<input type="number" step="0.01" ng-model="vm.calForm.tipPercent" required></td>
                  </tr> 
                  
                  <tr>
                    
                    <td colspan="2">
                      </br>
                     
                       <div class="center_header">
	                      <input type="submit" id="submit" value="Submit" />
	                      <input type="button" value="Cancel" ng-click="vm.cancel()"/>
                       </div>
                    </td>
                    
                  </tr>  
                </table>
                <tr>
                   <td>
            <table class="table" border="1">
               <tr>
                 <td>
                    <p class="center_header">Customer Charges</p>
                 </td>
              </tr>  
              <tr>
                 <td>Sub total: </td>
                 <td>{{vm.calForm.custChargeSubTotal | currency}}</td>
              </tr>  
              <tr>
                 <td>Tip: </td>
                 <td>{{vm.calForm.custChargeTip | currency}}</td>
              </tr>
              
              <tr>
                 <td>Total:</td>
                 <td>{{vm.calForm.custChargeTotal | currency}}</td>
              </tr>
            </table>  
 
           

          </td>
                </tr> 	
          </td>
          
        </tr>  
        
      </table>
</form>